@use "../abstracts/variables" as vars;

.button {
    font-size: vars.$font-xlarge;
    text-align: center;
    color: vars.$color-quaternary;
    background-color: vars.$color-secondary;
    padding-block: 18px;
    padding-inline: 35px;
    border: 1px solid transparent;
    border-radius: 14px;
    transition:
        color 0.3s ease,
        background-color 0.3s ease;

    &:hover,
    &:focus-visible {
        background-color: vars.$color-primary;
        color: vars.$color-secondary;
    }

    &--primary {
        color: vars.$color-secondary;
        background-color: vars.$color-primary;

        &:hover,
        &:focus-visible {
            background-color: vars.$color-quaternary;
        }
    }

    &--border {
        color: vars.$color-secondary;
        background-color: transparent;
        border-color: vars.$color-secondary;

        &:hover,
        &:focus-visible {
            background-color: vars.$color-secondary;
            color: vars.$color-quaternary;
        }
    }
}
