// Typo
$font-primary: "Space Grotesk", Arial, sans-serif;

$font-small: 0.875rem; // 14px
$font-medium: 1rem; // 16px
$font-large: 1.125rem; // 18px
$font-xlarge: 1.25rem; // 20px
$font-title-1: 3.75rem; // 60px
$font-title-2: 2.5rem; // 40px
$font-title-3: 1.875rem; // 30px

$line-height-title: 1.3;
$line-height-text: 1.4;

// Color
$color-primary: #b9ff66;
$color-secondary: #191a23;
$color-tertiary: #f3f3f3;
$color-quaternary: #fff;

// Spacing
$container-max-width: 1240px;
$container-gutter: 20px;

// Radius
$radius-box: 45px;

// Shadow
$shadow-box: 0 5px 0 0 $color-secondary;
