@use "../abstracts/variables" as vars;

.contact {
    margin-top: 140px;

    &__content {
        position: relative;
        background-color: vars.$color-tertiary;
        padding: 60px 0 80px 100px;
        border-radius: vars.$radius-box;
        margin-top: 80px;
        overflow: hidden;
    }

    &__form {
        width: 555px;
        display: flex;
        flex-direction: column;
        row-gap: 45px;
    }

    &__reasons {
        padding: 0;
        border: 0;
    }

    &__checkboxes {
        display: flex;
        align-items: center;
        column-gap: 35px;

        label {
            display: flex;
            align-items: center;
            column-gap: 15px;
            font-size: vars.$font-large;
        }

        input[type="radio"] {
            appearance: none;
            width: 28px;
            height: 28px;
            background-color: vars.$color-quaternary;
            border: 1px solid vars.$color-secondary;
            border-radius: 50%;

            &:checked {
                background:
                    radial-gradient(
                        circle at center,
                        vars.$color-primary 0 7px,
                        transparent 8px
                    ),
                    vars.$color-quaternary;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        row-gap: 27.5px;

        label {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            appearance: none;
            height: 60px;
            font-size: vars.$font-large;
            background-color: vars.$color-quaternary;
            padding: 0 30px;
            border: 1px solid vars.$color-secondary;
            border-radius: 14px;
        }

        textarea {
            height: 190px;
            padding-block: 15px;
        }
    }

    &__illustration {
        position: absolute;
        top: 50%;
        right: -50%;
        transform: translate(calc(-50% + 50px), -50%);
    }
}
