@use "../abstracts/variables" as vars;

.contact {
    margin-block-start: 140px;

    &__content {
        position: relative;
        background-color: vars.$color-tertiary;
        padding-block: 60px 80px;
        padding-inline: 100px;
        border-radius: vars.$radius-box;
        margin-block-start: 80px;
        overflow: hidden;
    }

    &__form {
        width: min(555px, 50vw);
        display: flex;
        flex-direction: column;
        row-gap: 45px;
    }

    &__reasons {
        padding: 0;
        border: 0;
    }

    &__checkboxes {
        display: flex;
        align-items: center;
        column-gap: 35px;

        label {
            display: flex;
            align-items: center;
            column-gap: 15px;
            font-size: vars.$font-large;
        }

        input[type="radio"] {
            appearance: none;
            width: 28px;
            height: 28px;
            background-color: vars.$color-quaternary;
            border: 1px solid vars.$color-secondary;
            border-radius: 50%;

            &:checked {
                background:
                    radial-gradient(
                        circle at center,
                        vars.$color-primary 0 7px,
                        transparent 8px
                    ),
                    vars.$color-quaternary;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        row-gap: 27.5px;

        label {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            appearance: none;
            height: 60px;
            font-size: vars.$font-large;
            background-color: vars.$color-quaternary;
            padding: 0 30px;
            border: 1px solid vars.$color-secondary;
            border-radius: 14px;
        }

        textarea {
            height: 190px;
            padding-block: 15px;
        }
    }

    &__illustration {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 365px;
    }

    @media (max-width: 1200px) {
        margin-block-start: clamp(50px, 11.5vw, 140px);

        &__form {
            row-gap: clamp(25px, 4vw, 45px);
        }

        &__content {
            padding-block: clamp(40px, 7vw, 60px) clamp(40px, 7vw, 80px);
            padding-inline: clamp(30px, 7vw, 100px);
            margin-block-start: clamp(40px, 6.5vw, 80px);
        }

        &__illustration {
            width: clamp(250px, 30.5vw, 365px);
        }
    }

    @media (max-width: 750px) {
        &__form {
            width: 100%;
        }

        &__illustration {
            display: none;
        }
    }

    @media (max-width: 450px) {
        &__checkboxes {
            flex-wrap: wrap;
            gap: 20px;

            label {
                column-gap: 10px;
            }
        }
    }
}
