@use "../abstracts/variables" as vars;

.footer {
    display: flex;
    flex-direction: column;
    background-color: vars.$color-secondary;
    padding-block: 55px 50px;
    padding-inline: 60px;
    border-radius: vars.$radius-box vars.$radius-box 0 0;
    margin-block-start: 140px;

    &__cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 15px;
    }

    &__links {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }

    &__link a {
        font-size: vars.$font-large;
        color: vars.$color-quaternary;
        text-decoration: underline;
        text-underline-offset: 2.5px;
        transition: color 0.3s ease;

        &:hover,
        &:focus-visible {
            color: vars.$color-primary;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        column-gap: 20px;

        &--resp {
            display: none;
        }
    }

    &__social {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: vars.$color-quaternary;
        border-radius: 50%;
        transition: background-color 0.3s ease;

        &:hover,
        &:focus-visible {
            background-color: vars.$color-primary;
        }

        &--linkedin svg {
            width: 15px;
            height: 15px;
        }

        &--twitter svg {
            width: 18px;
            height: 14px;
        }

        svg {
            fill: vars.$color-secondary;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: minmax(290px, 1fr) minmax(0, 1.3fr);
        column-gap: 20px;
        margin-block-start: 65px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 30px;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 15px;
    }

    &__title {
        font-size: vars.$font-xlarge;
        background-color: vars.$color-primary;
        padding-inline: 5px;
        border-radius: 7px;
    }

    &__mail,
    &__phone,
    &__adress {
        color: vars.$color-quaternary;

        a {
            transition: color 0.3s ease;

            &:hover,
            &:focus-visible {
                color: vars.$color-primary;
            }
        }
    }

    &__newsletter {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #292a32;
        padding-inline: 40px;
        border-radius: 14px;
    }

    &__form {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        column-gap: 20px;

        input[type="email"] {
            font-size: vars.$font-large;
            color: vars.$color-quaternary;
            appearance: none;
            background-color: transparent;
            padding-inline: 35px;
            border: 1px solid vars.$color-quaternary;
            border-radius: 14px;

            &::placeholder {
                color: vars.$color-quaternary;
            }
        }

        & .button {
            padding-inline: 15px;
        }
    }

    &__end {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 40px;
        row-gap: 20px;
        border-top: 1px solid vars.$color-quaternary;
        padding-block-start: 50px;
        margin-block-start: 50px;

        p,
        a {
            color: vars.$color-quaternary;
            text-align: center;
        }

        a {
            font-size: vars.$font-large;
            text-decoration: underline;
            transition: color 0.3s ease;

            &:hover,
            &:focus-visible {
                color: vars.$color-primary;
            }
        }
    }

    @media (max-width: 1300px) {
        &__form {
            column-gap: 15px;
        }

        &__newsletter {
            padding-inline: clamp(20px, 2vw, 40px);
        }
    }

    @media (max-width: 1200px) {
        padding-block: clamp(30px, 5vw, 55px) clamp(30px, 4.5vw, 50px);
        padding-inline: clamp(15px, 5vw, 60px);
        margin-block-start: clamp(50px, 11.5vw, 140px);

        &__content {
            margin-block-start: clamp(30px, 5.5vw, 65px);
        }

        &__end {
            padding-block-start: clamp(30px, 4.5vw, 50px);
            margin-block-start: clamp(30px, 4.5vw, 50px);
        }
    }

    @media (max-width: 1100px) {
        &__logo {
            width: clamp(120px, 16vw, 180px);
        }

        &__links {
            column-gap: 20px;
        }

        &__socials {
            column-gap: 15px;
        }
    }

    @media (max-width: 1000px) {
        &__form {
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: 1fr 1fr;
            row-gap: 20px;
        }

        &__links {
            column-gap: 15px;
        }
    }

    @media (max-width: 900px) {
        &__links {
            column-gap: 12.5px;
        }

        &__socials {
            column-gap: 10px;
        }
    }

    @media (max-width: 800px) {
        &__cta {
            flex-direction: column;
            row-gap: 30px;
        }

        &__logo {
            width: 210px;
        }

        &__socials {
            column-gap: 20px;
        }

        &__content {
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: repeat(2, minmax(0, 1fr));
            row-gap: 30px;
        }

        &__contact {
            align-items: center;
            row-gap: 20px;
        }

        &__infos {
            align-items: center;
        }

        &__mail,
        &__phone,
        &__adress {
            text-align: center;
        }

        &__end {
            justify-content: center;
        }
    }

    @media (max-width: 560px) {
        &__links {
            flex-direction: column;
            row-gap: 20px;
        }
    }
}
