.partners {
    margin-block-start: 70px;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        filter: grayscale(1);
        transition: filter 0.3s ease;

        &:hover,
        &:focus-visible {
            filter: grayscale(0);
        }
    }

    @media (max-width: 1000px) {
        margin-block-start: clamp(50px, 8.5vw, 70px);

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            gap: 20px;
        }
    }

    @media (max-width: 600px) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
