.partners {
    margin-top: 70px;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        filter: grayscale(1);
        transition: filter 0.3s ease;

        &:hover,
        &:focus-visible {
            filter: grayscale(0);
        }
    }
}
