@use "../abstracts/variables" as vars;

.services {
    margin-block-start: 140px;

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 40px;
        row-gap: 40px;
        margin-block-start: 80px;
    }

    @media (max-width: 1200px) {
        margin-block-start: clamp(50px, 11.5vw, 140px);

        &__content {
            grid-template-columns: repeat(2, 1fr);
            column-gap: clamp(20px, 3.3vw, 40px);
            row-gap: clamp(20px, 3.3vw, 40px);
            margin-block-start: clamp(30px, 6.5vw, 80px);
        }
    }

    @media (max-width: 940px) {
        &__content {
            grid-auto-rows: unset;
        }
    }

    @media (max-width: 600px) {
        &__content {
            grid-template-columns: 1fr;
        }
    }
}

.proposal {
    position: relative;
    background-color: vars.$color-tertiary;
    padding: 55px 60px;
    border-radius: vars.$radius-box;
    margin-block-start: 125px;

    &__content {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    &__link {
        align-self: flex-start;
    }

    &__illustration {
        position: absolute;
        top: 50%;
        right: 135px;
        transform: translateY(-50%);
        width: 360px;
    }

    @media (max-width: 1200px) {
        padding: clamp(30px, 4.5vw, 55px) clamp(30px, 5vw, 60px);
        margin-block-start: clamp(50px, 10.15vw, 125px);

        &__content {
            row-gap: clamp(15px, 2vw, 25px);
        }

        &__illustration {
            width: clamp(180px, 30vw, 360px);
            right: clamp(0px, 5vw, 135px);
        }
    }

    @media (max-width: 940px) {
        &__content {
            max-width: clamp(300px, 50vw, 500px);
        }
    }

    @media (max-width: 600px) {
        &__content {
            max-width: 100%;
        }

        &__link {
            width: 100%;
        }

        &__illustration {
            display: none;
        }
    }

    @media (max-width: 390px) {
        &__link span {
            display: none;
        }
    }
}
