@use "../abstracts/variables" as vars;

.team {
    display: flex;
    flex-direction: column;
    margin-top: 135px;

    &__content {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        gap: 40px;
        margin-top: 80px;
    }

    &__link {
        align-self: end;
        width: 270px;
        margin-top: 40px;
    }
}
