@use "../abstracts/variables" as vars;

.wprocess {
    margin-top: 140px;

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-top: 80px;
    }
}
