@use "../abstracts/variables" as vars;

.wprocess {
    margin-block-start: 140px;

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-block-start: 80px;
    }

    @media (max-width: 1200px) {
        margin-block-start: clamp(50px, 11.5vw, 140px);

        &__content {
            margin-block-start: clamp(40px, 6.5vw, 80px);
        }
    }
}
